<html>

<head>
    <link rel="stylesheet" href="static/style.css"></link>
    <title></title>
</head>

<body>
    
    <h1>Calculate Average of list of numbers</h1>
    <form action="addToList">
        <table>
            <tr>
                <td>
                    <b><i>Enter number:</i></b>
                </td>
                <td>
                    <input type="number" step="0.01" required name="num" value="0">
                </td>
            </tr>
            <tr>
                <td>
                    <input type="reset">
                </td>
                <td>
                    <input type="submit" value="Add number to List">

                </td>
            </tr>
            <tr>
                <td>
                    
                </td>
                <td>
                    <input type="submit" value="Print Average" formaction="printAverage">
                </td>
            </tr>
        </table>
    </form>
</body>
</html>